//TODO: Add searchbox css here
cx-searchbox {
    > * {
        background-color: white !important; 
        color: #9E9E9E;
        ::placeholder {
            color: var(--cx-color-light) !important; 
        }
    }
}